{
  "singleQuote": false,
  "semi": false,
  "printWidth": 130,
  "bracketSameLine": false,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "vueIndentScriptAndStyle": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrder": ["^@[a-z](.*)$", "^@/(.*)$"]
  
}
